@page
@model IndexModel
@using KostasKatsinas.Portfolio.
@{ ViewData["Title"] = "Home page"; }

<div class="main-content">
    <div class="left-section">
        <h1>Kostas Katsinas</h1>
        <h3>
            Digital Product Manager
        </h3>
        <h3>
            Computer Graphics Generalist
        </h3>
        <p>
            I have over 3 years experience in identifying Strategic Opportunities and facilitating Sustainable Digital Transformations.
        </p>
        <p>
            Expert in melding organizational and analytical skills with empathy, focusing on team development to ensure successful delivery of complex digital products.
        </p>
        <p>
            With a strong foundation in Corporate Sustainability and Emerging Technologies, I possess keen insights into strategic market positioning within the ESG and tech sectors.
        </p>
        <p>
            My attention to detail and comprehensive understanding allow for swift, strategic decision-making.
        </p>
        <p>
            Proficient in storytelling and visual communication, I excel at articulating concepts and rallying individuals and teams towards common objectives.
        </p>
    </div>
    
    <div class="right-section">
        <!-- Replace 'image-src.jpg' with the path to your image -->
        <img src="c:\users\kosta\desktop\web\kostaskatsinas.portfolio\kostaskatsinas\kostaskatsinas.portfolio\media\picture_square.jpg" />
    </div>
</div>