@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="main-content">
    <div class="left-section">

        <h1>Katsinas</h1>
        <h1>Katsinas</h1>

        <h3>Digital Product Manager</h3>
        <h3>Computer Graphics Generalist</h3>
        
        <p>I have over 3 years experience in identifying Strategic Opportunities and facilitating Sustainable Digital Transformations.</p>
        <p>Expert in melding organizational and analytical skills with empathy, focusing on team development to ensure successful delivery of complex digital products.</p>
        <p>With a strong foundation in Corporate Sustainability and Emerging Technologies, I possess keen insights into strategic market positioning within the ESG and tech sectors.</p>
        <p>My attention to detail and comprehensive understanding allow for swift, strategic decision-making.</p>
        <p>Proficient in storytelling and visual communication, I excel at articulating concepts and rallying individuals and teams towards common objectives</p>

    </div>
    
    <div class="right-section">

        <div id="imageCarouselIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" arial-label="Image 1"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="1" arial-label="Image 2"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="2" arial-label="Image 3"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="3" arial-label="Image 4"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="4" arial-label="Image 5"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="5" arial-label="Image 6"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="6" arial-label="Image 7"></button>
                <button type="button" data-bs-target="#imageCarouselIndicators" data-bs-slide-to="7" arial-label="Image 8"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="~/images/picture_square.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/chair_02.png" class="d-block w-100" alt="Image 2">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/lamp_02.png" class="d-block w-100" alt="Image 3">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/lamp_05.png" class="d-block w-100" alt="Image 4">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/lamp_04.png" class="d-block w-100" alt="Image 5">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/chair_01.png" class="d-block w-100" alt="Image 6">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Lamp_06.png" class="d-block w-100" alt="Image 7">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/lamp_03.png" class="d-block w-100" alt="Image 8">
                </div>
            </div>

        </div>

    </div>
</div>