html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    display: flex;
    width: 100%;
}

.left-section {
    flex: 3;
    background-color: #F1FAFF;
    padding: 80px;
}

.right-section {
    flex: 2;
    background-color: #3B4248;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-width: 20%;
}

.right-section img {
    max-width: 100%;
    min-width: 20%;
}

footer {
    background-color: #768EA9;
    font-family: 'Nunito', sans-serif;
}

.round-element {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1FAFF;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    margin: 20px;
    transition: background-color 0.3s, filter 0.3s;
}

.round-element:hover {
    background-color: #0e4050;
    filter: invert(100%);
}

.round-element:hover img {
    filter: invert(100%);
}

.svg {
    width: 60%;
}

.svg-mail {
    width: 70%;
}

#emailCopiedOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 150px;
    transform: translate(-50%, -50%);
    background-color: #768EA9;
    padding: 5px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.round-element p {
    font-size: 0.8rem;
}


@media (max-width: 1200px) {
    .main-content {
        flex-direction: column;
    }

    .left-section, .right-section {
        flex: none;
        width: 100%;
    }
}

h-name {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 64px;
    color: #2F2F2F;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 15px;
}

h-title {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #515151;
    line-height: 1;
    margin-bottom: 10px;
}

p-body {
    display: block;
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    margin-bottom: 15px;
}

p-bold {
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul {
    font-family: 'Nunito', sans-serif;
}
