html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: -16px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    width: 100%;
}

.left-section {
    flex: 2;
    background-color: #F1FAFF;
    padding: 80px;
}

.right-section {
    flex: 3;
    background-color: #3B4248;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.right-section img {
    max-width: 100%;
}

footer {
    height: 204px;
    background-color: #768EA9;
    font-family: 'Nunito', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}
