html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    display: flex;
    width: 100%;
}

.left-section {
    flex: 3;
    background-color: #F1FAFF;
    padding: 80px;
}

.right-section {
    flex: 2;
    background-color: #3B4248;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.right-section img {
    max-width: 100%;
}

footer {
    background-color: #768EA9;
    font-family: 'Nunito', sans-serif;
}

.round-element {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1FAFF;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
}

.svg-cv {
    width: 60%;
}

.svg-pencil {
    width: 60%;
}

.svg-email {
    width: 75%;
}

#emailCopiedOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 150px;
    transform: translate(-50%, -50%);
    background-color: #768EA9;
    padding: 5px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.svg-linkedin {
    width: 60%;
}

.round-element p {
    font-size: 0.8rem;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}
